header, main, nav, footer {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}

h1 {
	font-family: 'Roboto Mono'; monospace;
	font-size: 4em;
	margin-bottom: 0px;
}

nav a {
	padding:15px;
	padding-bottom:4px;
	font-size: 1.8em;
	text-decoration: none;
	color: black;
	
}

nav a:hover {
	border-bottom:2px blue solid;
	font-size: 2em;
	transition: .2s;
}

main {
	display: flex;
	justify-content: center;
}

body {
	background: white;
}

iframe {
	display: block;
	margin: 0px auto;
}

table {
	margin: 0px auto;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}

#table-header {
	background-color: #2BF3EA;
}

.table-row {
	background-color: #34EEA2; 
}

td {
	padding-right: 10px;
	font-size: 1.3em;
}

td strong {
	color: red;
}

ul {
	width: 500px;
	margin: 0px auto;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: left;
}

.hobby1 {
	color: #79A714;
	font-weight: bold;
}

.hobby2 {
	color: #14A78B;
	font-weight: bold;
}

.hobby3 {
	color: #4214A7;
	font-weight: bold;
}

.hobby4 {
	color: #A71430;
	font-weight: bold;
}

footer {
	font-family: "Courier", Courier, monospace;
	font-size: 11px;
	color: blue;
}
