header, main, nav, footer {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}

nav a {
	padding:15px;
	padding-bottom:4px;
	font-size: 1.8em;
	text-decoration: none;
	color: white;
	
}

nav a:hover {
	border-bottom:2px green solid;
	font-size: 2em;
	transition: .9s;
}

main {
	display: flex;
	justify-content: center;
}

footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	color: blue;
}
